<h1>TODO LIST</h1>
<form  method="post">
    {% csrf_token %}
    <fieldset>
        <h1>Update this list</h1>
        <label>New List name:</label><br>
        <input type="text" name="name2" id="name2" required><br><br>
        {% comment %} <label>Title:</label><br>
        <input type="text" name="task" id="task" required><br><br>
        <label>Due date:</label><br>
        <input type="date" name="due" id="due" required><br><br> {% endcomment %}

        <input type="submit">
    </fieldset>

</form>
